@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full px-3 py-2 border rounded-lg focus:ring-2 focus:ring-indigo-300 outline-none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
